<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.bloom.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.bloom.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.bloom.app.modules.takepicture.ui.TakePictureActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.daycalender.ui.DayCalenderActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.menuscreen.ui.MenuScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.filterscreen.ui.FilterScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.reservationscreen.ui.ReservationScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.scooterselected.ui.ScooterSelectedActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.bloom.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.bloom.app.modules.ridingstarted.ui.RidingStartedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.calenderintegration.ui.CalenderIntegrationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.navigationscreen.ui.NavigationScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.bloom.app.modules.scanqr.ui.ScanQrActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
